@use "variables/global";
@use "reset";
@use "fonts";
@use "themes/dark";
@use "themes/light";

html {
    scrollbar-gutter: stable;
}

body {
    overflow-x: hidden;
    font: var(--font-s);
    scroll-behavior: smooth;
    color: var(--primary-color);
    background: var(--bg-color);
}

.app {
    width: 100%;
    min-height: 100vh;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--inverted-bg-color);
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 2px solid var(--primary-color);
}
