.primary {
    color: var(--primary-color);
}

.accent {
    color: var(--primary-color);
    background-image: var(--accent-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: animate-gradient 3s linear infinite;
}

@keyframes animate-gradient {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

.secondary {
    color: var(--secondary-color);
}

.error {
    color: var(--red-color);
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.XS {
    font: var(--font-xs);
}

.S {
    font: var(--font-s);
}

.M {
    font: var(--font-m);
}

.L {
    font: var(--font-l);
}

.XL {
    font: var(--font-xl);
}

.leftLine,
.rightLine {
    width: 35px;
    height: 2px;
    background: var(--primary-color);
}

.leftLine {
    margin-right: 12px;
}

.rightLine {
    margin-left: 12px;
}
