.list {
    gap: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginBtn {
    padding: 12px 28px;
}

.cartBtn {
    position: relative;
    padding: 12px 28px;
}

.count {
    top: -8px;
    right: -8px;
    width: 22px;
    height: 22px;
    position: absolute;
    background: var(--red-color);
    border-radius: var(--border-half-radius);
}
