.Button {
    cursor: pointer;
    padding: 16px 40px;
    color: var(--primary-color);
    transition: opacity 0.3s, scale 0.3s;
}

.opacityEffect:hover {
    opacity: 0.8;
    fill-opacity: 80%;
    stroke-opacity: 80%;
}

.scaleEffect:hover {
    scale: (1.02);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.accent {
    color: var(--bg-color);
    background: var(--accent-color);
}

.outlineAccent {
    position: relative;
    border: 1px solid #ffa70a;
    background: var(--bg-color);
    color: var(--primary-color);
}

.inverted {
    color: var(--secondary-color);
    background: var(--inverted-btn-color);
}

.halfRadius {
    border-radius: var(--border-half-radius);
}

.mRadius {
    border-radius: var(--border-m-radius);
}

.lRadius {
    border-radius: var(--border-l-radius);
}

.square {
    padding: 0;
}

.square.size_xs {
    width: var(--font-line-xs);
    height: var(--font-line-xs);
}

.square.size_s {
    width: var(--font-line-s);
    height: var(--font-line-s);
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_xs {
    font: var(--font-xs);
}

.size_s {
    font: var(--font-s);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.disabled,
.disabled:hover {
    opacity: 0.5;
    cursor: not-allowed;
}

.max {
    width: 100%;
}
