.menu {
    display: flex;
    flex-direction: column;
    z-index: var(--popup-z-index);
    border-radius: var(--border-xs-radius);
    position: absolute;
    background: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

.item {
    width: 100%;
    cursor: pointer;
    padding: 10px 25px;
    font: var(--font-s);
    background-color: var(--bg-color);
}
