.label {
    font: var(--font-xs);
    color: var(--secondary-color);
}

.input {
    width: 100%;
    background: none;
    padding: 15px 20px;
    font: var(--font-s);
    color: var(--primary-color);
    border-radius: var(--border-m-radius);
    border: 1px solid var(--outline-color);
}

.readonly {
    opacity: 0.7;
}

.square {
    width: 75px;
    height: 75px;
    text-align: center;
    font: var(--font-m);
    border: 1px solid var(--primary-color);

    &:focus {
        border: 1px solid var(--outline-color);
    }
}

.error {
    border: 1px solid var(--red-color);
}
