.app_dark_theme {
    --bg-color: #1c1c1c;
    --primary-color: #e3e3e3;
    --secondary-color: #cacaca;
    --accent-color: linear-gradient(106deg, #f90 0%, #ffeb3a 100%);;

    --inverted-bg-color: #282828;
    --additional-bg-color: #414141;

    // skeleton
    --skeleton-color: #dbdbdb;
    --skeleton-shadow: rgba(0 0 0 / 20%);
}
