.Card {
    background: var(--inverted-bg-color);
    border-radius: var(--border-m-radius);
}

.outline {
    background: unset;
    border: 1px solid var(--primary-color);
}

.maxWidth {
    width: 100%;
}
